<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>201225433768-olmosj3pkjgej1cc4emgu9k37utb8qfb.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.201225433768-olmosj3pkjgej1cc4emgu9k37utb8qfb</string>
	<key>API_KEY</key>
	<string>AIzaSyAeX5BGcV4j0GyM9v427FuEIXZ573QtTbg</string>
	<key>GCM_SENDER_ID</key>
	<string>201225433768</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.x.redera</string>
	<key>PROJECT_ID</key>
	<string>redera-9e409</string>
	<key>STORAGE_BUCKET</key>
	<string>redera-9e409.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:201225433768:ios:5d92da031c0859a883089d</string>
</dict>
</plist>